<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->

<script>
//   function updatecomplete(){
// alert("Flight detail successfully complete")
//   }
//   function addcomplete(){
// alert("Flight added successfully!")
//   }
//   function deletecomplete(){
// alert("Flight successfully deleted!")
//   }
//   function deleteuser(){
// alert("User data successfully deleted!")
//   }
</script>
{% extends "layout_for_data.html" %}
{% block head %} {{ super() }}
  <style type="text/css">
   .important {background-color: white; color: green;}
    body{
font-family: Arial;
color: crimson;
background-color: floralwhite;

   }
  </style>
{% endblock %}
{% block content %}
<body>
  <p style="text-transform: uppercase; color:black;">{{message}}</p>
  <p> <strong> SHOW ALL FLIGHT </strong></p>    
  <form action="/show_all_travel">       
      <input type="submit" value="SHOW ALL TRAVEL"/>
  </form>
  <br>
    <form action="/show_travel" method="GET"> 
        <p><strong> GET FLIGHT DATA</strong> <p> 
        Enter Travel ID: <input type="text" name="travelid" id="travelid" required/><br><br>
        <input type="submit" value="GET TRAVEL DETAILS"/>
    </form>
    <br>
    <p> <strong> ADD NEW FLIGHT DATA</strong></p>
    <form action="/add_travel">    
       Enter travel ID: <input type="number" name="travelid" min="1" id="travelid" required/><br><br>
       Enter departure: <input type="text" name="departure"  id="departure" required/><br><br>
       Enter departure time: <input type="time" name="departuretime"  id="departuretime" required/><br><br>
       Enter arrival: <input type="text" name="arrival"  id="arrival" required/><br><br>
       Enter arrival time: <input type="time" name="arrivaltime"  id="arrivaltime" required/><br><br>
       Enter Cost: <input type="number" name="cost"  id="cost" required/><br><br>

       <input type="submit" value="ADD NEW TRAVEL"/>        
    </form>    
    <br>
    <p> <strong>UPDATE FLIGHT DATA (EACH ATTRIBUTE SHOULD BE UPDATED SEPEARTELY)</strong></p>
    <form action="/update_travel">    
      Enter travel ID of flight to update: <input type="number" min="1" max="19" name="travelid"  id="travelid" required /> Enter new departure city: <input type="text" name="departure"  id="departure" required/>     <input type="submit" value="UPDATE"/><br><br> 
    </form>
    <form action="/update_travel"> 
      Enter travel ID of flight to update: <input type="number" min="1" max="19" name="travelid"  id="travelid" required/> Enter new departure time: <input type="text" name="departuretime"  id="departuretime" required/>     <input type="submit" value="UPDATE"/><br><br>
    </form>
    <form action="/update_travel"> 
      Enter travel ID of flight to update: <input type="number" min="1" max="19" name="travelid"  id="travelid"required /> Enter new arrival city: <input type="text" name="arrival"  id="arrival" required/>     <input type="submit" value="UPDATE"/><br><br>
    </form>
    <form action="/update_travel"> 
      Enter travel ID of flight to update: <input type="number" min="1" max="19" name="travelid"  id="travelid" required /> Enter new arrival time: <input type="text" name="arrivaltime"  id="arrivaltime" required/>     <input type="submit" value="UPDATE"/><br><br>
    </form>
    <form action="/update_travel">
      Enter travel ID of flight to update: <input type="number" min="1" max="19" name="travelid"  id="travelid"required /> Enter new Cost: <input type="number" min="1" name="costid"  id="costid" required/>     <input type="submit" value="UPDATE"/><br> <br>           
    </form>
    <br>

    <p><strong>REMOVE FLIGHT FROM DATABASE</strong></p>
    <form action="/drop_travel">
      Enter ID of Flight to be removed: <input type="number" min="1" name ="travelid" id="travelid">
      <input type="submit" value="REMOVE">
    </form>
    <br>
    <p><strong>REMOVE USERS FROM DATABASE</strong></p>
    <form action="/drop_users" method="POST">
      Enter username of user: <input type="text" name ="username" id="username">
      <input type="submit" value="REMOVE">
    </form>
    <br>
<p><strong>MONTHLY REPORT</strong></p>
    <form action="/routereport">
<p style="text-transform: capitalize;">GENERATE QUANTITY OF BOOKING(S) fOR EACH ROUTE</p>
Choose city of departure: <select  name="departurecity" id="departurecity">
  <option>--</option>
  <option>Aberdeen</option>
  <option>Bristol</option>
  <option>Cardiff</option>
  <option>Dundee</option>
  <option>Edinburgh</option>
  <option>Glasgow</option>
  <option>London</option>
  <option>Manchester</option>
  <option>Portsmouth</option>
  <option>Southhampton</option>
</select> 
Choose city of Arrival: <select name="arrivalcity" id="arrivalcity">
  <option>--</option>
  <option >Birmingham</option>
  <option >Bristol</option>
  <option >Cardiff</option>
  <option >Dundee</option>
  <option >Edinburgh</option>
  <option >Glasgow</option>
  <option >London</option>
  <option >Manchester</option>
  <option >Portsmouth</option>
  <option>Newcastle</option>
  <option >Southhampton</option>
</select> 
Choose Month: <input type="number"name="month" min="1" max="12" >
<input type="submit" value="GENERATE">
    </form>
    <br>
    <form action="/monthlyrevenue", method="POST">
GENERATE MONTHLY REVENUE:
Choose month: <input type="number" name="monthnum" min = 1 max = 12> <input type="Submit" value="GENERATE">
    </form>
    <br> 
    <p><strong>TOTAL SALES FOR EACH JOURNEY</strong></p>
    <form action="/journeysales"> 
    Choose city of departure: <select  name="departurecity" id="departurecity">
      <option>--</option>
      <option>Aberdeen</option>
      <option>Bristol</option>
      <option>Cardiff</option>
      <option>Dundee</option>
      <option>Edinburgh</option>
      <option>Glasgow</option>
      <option>London</option>
      <option>Manchester</option>
      <option>Portsmouth</option>
      <option>Southhampton</option>
    </select> 
    Choose city of Arrival: <select name="arrivalcity" id="arrivalcity" >
      <option>--</option>
      <option >Birmingham</option>
      <option >Bristol</option>
      <option >Cardiff</option>
      <option >Dundee</option>
      <option >Edinburgh</option>
      <option >Glasgow</option>
      <option >London</option>
      <option >Manchester</option>
      <option >Portsmouth</option>
      <option>Newcastle</option>
      <option >Southhampton</option>
    </select>     
    <input type="submit" value="GENERATE"/>
    </form>
    <br>
    <p> <strong>TOTAL REVENUE</strong></p>    
    <form action="/farereport">  
    <input type ="submit" value="GENERATE TOTAL REVENUE">  
    </form>
  <br>

<form action="/admin">
  <input type="submit" value="GO BACK HOME">
  <br> <br>
</form>
  </p>
  
</body>
{% endblock %}

