<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->
  <h2> <strong>FLIGHT DETAILS </strong> </h2>
  <noscript>JavaScript seems to be disabled, please enable it.</noscript>
  <script>
    function cardvalidation(cardnumber){
            var card_num = cardnumber;    
            var pattern = /^[0-9-]+$/;   
            var result = pattern.test(card_num); 

            if (!result)
            {
              return false;                 
            }            
            else 
            {
              return true;
            }
    }

    function cardnamevalidation(name){   
            var card_name = name;    
            var pattern = /^[A-Za-z ]+$/;   
            var result = pattern.test(card_name); 

            if (!result)
            {
              return false;                 
            }            
            else 
            {
              return true;
            }
    }
    function cvv_validation(cvv){   
            var card_cvv = cvv;    
            var pattern = /^[0-9]+$/;   
            var result = pattern.test(card_cvv); 
                     
            if (!result)
            {
              return false;                 
            }            
            else 
            {
              return true;
            }
    }

    function validation(){
      var name = document.getElementById("cardname").value;
      var cardnumber = document.getElementById("cardnumber").value;
      var carddate  = document.getElementById("cardexpiry").value;
      var cvv = document.getElementById("cvv").value;

      var check = 0;

      if (cardnamevalidation(name))
      {
      }
      else 
      {
        alert("Please enter a valid name ");
        document.getElementById("cardname").style.border="1px solid red";
        return false;
      }
      
      if (cardvalidation(cardnumber))
      {
      }
      else
      {
        alert("Please enter a valid card number ");
        document.getElementById("cardnumber").style.border="1px solid red";
        return false;
      }

      if(cvv_validation(cvv))
      {
        return true;
      }
      else{
        alert("Enter a valid CVV");
        document.getElementById("cvv").style.border="1px solid red";
        return false;
      }
      return false;

    } 


    function cardexpiry()
    {

      var today = new Date();
      var year = today.getFullYear();
      var month = today.getMonth() +1;
        if (month < 10)
        {
          month = "0"+month;
        }
      today = year+"-"+month;
      document.getElementById("cardexpiry").min = today;
     
    }


    function cardnumberspaces()
    {
    var x = document.getElementById("cardnumber");
    var index = x.value.lastIndexOf('-');
    var test = x.value.substr(index + 1);
    if (test.length === 4 && x.value.length<16){
         x.value = x.value + '-';

    }
  }

  function thanks(){
    alert('Thanks for the payment.');
    return true;
  }


</script>
<body onload="cardexpiry()" onsubmit="return thanks()">
  <form action="/booking_confirm/" method="POST" onsubmit="return validation()"  >
        Departure City : {{lookupdata[0]}} <br/><br>
        <input type="hidden" name="deptcity" id="deptcity" value="{{lookupdata[0]}}"/>
        Arrival City : {{lookupdata[1]}} <br/><br>
        <input type="hidden" name="arrivcity" id="arrivcity" value="{{lookupdata[1]}}"/>
        Outward Date : {{lookupdata[2]}} <br/><br>
        <input type="hidden" name="outdate" id="outdate" value="{{lookupdata[2]}}"/>
        Return Date : {{lookupdata[3]}} <br/><br>
        <input type="hidden" name="returndate" id="returndate" value="{{lookupdata[3]}}"/>
        Adult Seats : {{lookupdata[4]}} <br/><br>
        <input type="hidden" name="adultseats" id="adultseats" value="{{lookupdata[4]}}"/>
        Child Seats : {{lookupdata[5]}} <br/><br>
        <input type="hidden" name="childseats" id="childseats" value="{{lookupdata[5]}}"/> 
        Flight Class: {{lookupdata[6]}} <br> <br>
        <input type ="hidden" name="bookingclass" id ="bookingclass" value="{{lookupdata[6]}}"/> 
        <br>
<div class="table">
	  <table border = 1 style="border-radius: 5px;"> 
        <tr>
            <th> Departure Time </th> <th> Arrival Time </th>  
            <th> Standard fare </th> <th> Total fare </th> 
            <th> Select option </th>
        </tr>

        
	    {% for row in resultset %}
	    <tr> 
            <td> &nbsp; &nbsp; &nbsp; {{row[2]}} </td> 
            <td>&nbsp; &nbsp; {{row[4]}} </td> 
            <td> &nbsp; &nbsp; &nbsp;{{row[6]}} </td>              
             <td> &nbsp; {{row[7]}} </td>
             <input type="hidden" name="totalfare" id="totalfare" value="{{row[7]}}"/>
            <td><input type="radio" name="bookingid" id="bookingid" value="{{row[0]}}" required></td> 
        </tr> 
        
	   {% endfor %} 
	  </table>  
  </div>
    <br/>
    <H2> PAYMENT </H2>
       
      Full name on card: 
      <input type="text" name="cardname" id="cardname" required /> <br/><br>
      Card number:
      <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX" name="cardnumber" id="cardnumber"  maxlength="19" minlength="19" onkeyup="return cardnumberspaces()" required /> <br/><br>
      Card expiry:
      <input type="month" name="cardexpiry" placeholder="MM-YY" id="cardexpiry" required /> <br/><br>
      CVV:
      <input type="text" name="cvv" id="cvv" max="999" maxlength="3" minlength="3" required /> <br/> <br/>
      <input type="submit" id="submit" value="Confirm Booking and Payment"/>
    </form> 
   
</body>

<style>
  body{
    animation-name: supa;
    animation-duration: 3s;
    animation-iteration-count: 1;
    font-family: Arial;
    color: crimson;
    background-color: floralwhite;
    /* background-image: url('static/pexels-francesco-ungaro-2325446.jpg'); */
  }
  .table{
    animation-name: supa;
    animation-duration: 2s;
    animation-iteration-count: 1;
    border-radius: 15px;
  }
  @keyframes supa{
      from{color:floralwhite;}
      to {color: crimson;}
    }
</style>



