<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->
<!doctype html>
<noscript>JavaScript seems to be disabled. Pease enable it</noscript>
<script>
  function thanks(){
    alert('Booking Successfull!');
    return true;
  }
</script>
<html>
  <header><h1><strong>BOOKING RECEIPT</strong></h1></header>
<body onload="return thanks()">


  Unique Booking ID: {{resultset[10]}} <br/><br/>
  Departure City : {{resultset[1]}} <br/><br/>
  Departure Date : {{resultset[3]}} <br/><br/>
  Departure Time : {{resultset[11]}} <br/><br/>
  Arrival City : {{resultset[2]}} <br/> <br/> 
  Arrival Time : {{resultset[12]}} <br/><br/>
  Return Date : {{resultset[4]}} <br/><br/>
  Adult Seats : {{resultset[5]}} <br/><br/>
  Child Seats : {{resultset[6]}} <br/><br/>
  Booking Class : {{resultset[8]}}<br/><br/>
  Total Fare : {{resultset[7]}} <br/><br/>
  Payment: Card ending with ****** {{cardnumber}} <br/> <br/>
  <p style="color: gray;"><em>Your Unique booking ID will be required cancel or view your flight details if you choose to do so later on. Take note of it.</em></p>
  <input type="hidden" name="totalfare" value="{{resultset[7]}}" /> 
  <input type="hidden" name="bookingid" value="{{resultset[9]}}" />  
  <form  action="/Onewayticket">
    <input type="submit" value="Confirm"> 
  </form>
  </p>
</body>
  <style>
    body{
      animation-name: supa;
      animation-duration: 2s;
      animation-iteration-count: 1;
      color: crimson;
      background-color: floralwhite;
      /* background-image: url('static/pexels-francesco-ungaro-2325446.jpg');
      background-size: cover; */

      
      font-family: Arial;
    }
    @keyframes supa{
      from{color:floralwhite;}
      to {color: crimson;}
    }


    
  </style>
</html>


