<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->

<h2> <strong>FLIGHT DETAILS </strong> </h2>

<form action="/booking_confirm/" method="POST" onsubmit="return validation()"  >
      Departure City : {{lookupdata[0]}} <br/><br>
      <input type="hidden" name="deptcity" id="deptcity" value="{{lookupdata[0]}}"/>
      Arrival City : {{lookupdata[1]}} <br/><br>
      <input type="hidden" name="arrivcity" id="arrivcity" value="{{lookupdata[1]}}"/>
      Outward Date : {{lookupdata[2]}} <br/><br>
      <input type="hidden" name="outdate" id="outdate" value="{{lookupdata[2]}}"/>
      Return Date : {{lookupdata[3]}} <br/><br>
      <input type="hidden" name="returndate" id="returndate" value="{{lookupdata[3]}}"/>
      Adult Seats : {{lookupdata[4]}} <br/><br>
      <input type="hidden" name="adultseats" id="adultseats" value="{{lookupdata[4]}}"/>
      Child Seats : {{lookupdata[5]}} <br/><br>
      <input type="hidden" name="childseats" id="childseats" value="{{lookupdata[5]}}"/> 
      Flight Class: {{lookupdata[6]}} <br> <br>
      <input type ="hidden" name="bookingclass" id ="bookingclass" value="{{lookupdata[6]}}"/> 
      <br>
<div class="table">
    <table border = 1 style="border-radius: 5px;"> 
      <tr>
          <th> Departure Time </th> <th> Arrival Time </th>  
          <th> Standard fare </th> <th> Total fare </th> 
          <th> Select option </th>
      </tr>

      
      {% for row in resultset %}
      <tr> 
          <td> &nbsp; &nbsp; &nbsp; {{row[2]}} </td> 
          <td>&nbsp; &nbsp; {{row[4]}} </td> 
          <td> &nbsp; &nbsp; &nbsp;{{row[7]}} </td>              
           <td> &nbsp; {{row[6]}} </td>
           <input type="hidden" name="totalfare" id="totalfare" value="{{row[6]}}"/>
          <td><input type="radio" name="bookingid" id="bookingid" value="{{row[0]}}" checked></td> 
      </tr> 
      
     {% endfor %} 
    </table>  
</div>
  <br/>
  </form> 
  <form action="/Loginpage">
    <input type="submit" value="PROCEED WITH BOOKING">
  </form>
   
  <form action="/departurecity">
    <input type="submit" value="GO BACK TO HOME PAGE">
  </form>

 
</p>

<style>
body{
  animation-name: supa;
  animation-duration: 3s;
  animation-iteration-count: 1;
  font-family: Arial;
  color: crimson;
  background-color: floralwhite;
}
.table{
  animation-name: supa;
  animation-duration: 2s;
  animation-iteration-count: 1;
  border-radius: 15px;
}
@keyframes supa{
    from{color:floralwhite;}
    to {color: crimson;}
  }
</style>



