<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->

{% extends "flashmessageforlogin.html" %}
{%block body%}
<div class="header">
   <p style="color:black;">{{message}}</p> 
    <p>LOG IN</div>

</body>

    {% if error %}
    <body>
        <p style="color:crimson;">
         {{error}}
        </p>
    </body>
    {%endif%}
    <form action="/departurecity2" style="color:crimson" method="POST">
        Enter Username:<br>
        <input type="text" name="username" id="username" value="{{request.form.username}}" required> <br><br>
        Enter Password: <br>
        <input type="password" name="password" required><br> <br>
        <input type="submit" value="Login">
    </form>
    <a href="/Forgotpasswordpage" class="link"> forgot password?</a>
    <p class="p" style="margin-top: -5px;">Or click <a href="/Signuppage">here</a> to sign up</p>


    <style>
       
        div {
            animation-name: supa;
            animation-duration: 2s;
            animation-iteration-count: 1;
            }

        @keyframes supa {
            from {
                color: white;
            }

            to {
                color: crimson;
            }
        }

        form{
            animation-name: supa;
            animation-duration: 3s;
            animation-iteration-count: 1;
        }
        .p{
            animation-name: fupa;
            animation-duration: 3s;
            animation-iteration-count: 1;

        }
        body {
            animation-name: supa;
            animation-duration: 3s;
            animation-iteration-count: 1;
            font-family: Arial;
            background-color: floralwhite;
            
        }
        /* body input{
          
            color: black;
            border: 0; 
            border-color: floralwhite; 
            border-radius: 5px;

        } */
        .header{
        background-color:floralwhite; 
        color:crimson; 
        font-size: 30px;
        margin-left: -1px; 
        margin-top: -1px;
        width: 101.3%; 
        height: 60px"
        }
    
        @keyframes supa {
            from {
                color: floralwhite;
            }
    
            to {
                color: crimson;
            }
        }
        @keyframes dupa {
            from {
                color: floralwhite;
            }
    
            to {
                color: purple;
            }
        }
        @keyframes fupa {
            from {
                color: floralwhite;
            }
    
            to {
                color: black;
            }
        }
        .link{
            animation-name: dupa;
            animation-duration: 3s;
            animation-iteration-count: 1;
            position: relative;
            top: -20px;
            margin-left: 100px;
            color: purple;
            cursor:pointer;
        }
    </style>
{%endblock%}

</html>