<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->
<!DOCTYPE html>
<html>
<header> <h1> <strong> MONTHLY REVENUE</strong> </h1></header>


MONTH: {{month}} <br><br>
REVENUE: £{{revenue}}

<br> <br>
<form action="/update_travel/">
<input type="submit" value="Go Back">
</form>
<style>
    header{
        color: crimson;
        background-color: floralwhite;
        font-family: Arial;
    }
    body{
        color: crimson;
        background-color: floralwhite;
        font-family: Arial;
    }
</style>
</html>