<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->
{% extends "layout_for_data.html" %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { 
        background-color: floralwhite; 
        color: crimson; 
    }
      body {
        animation-name: supa;
        animation-duration: 2s;
        animation-iteration-count: 1;
        font-family: Arial;
        color:crimson;
       
      }
      @keyframes supa {
            from {
                color: floralwhite;
            }
    
            to {
                color: crimson;
            }
        }
    
  </style>
{% endblock %}
{% block content %}
<body>  
    <H2> Get Travel Details</H2>
    <form action="/show_travel" method="GET"> 
        Enter Travel ID to get details: 
        <select name="travel">
        {% for row in resultset %}
	        <option value="{{row[0]}}"> {{row[0]}}  </option>	    
	      {% endfor %} 
        </select>  <br> <br>    
        <input type="submit" value="Get Travel Details"/>
    </form>      
  </p>
</body>
{% endblock %}