<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->
<!DOCTYPE html>
<html>
<header> <h1> <strong>ROUTE REPORT</strong> </h1></header>

<table border = 1 style="border-radius: 5px;">
<tr>
    <th>JOURNEY DESCRIPTION</th>
    <th>AMOUNT OF JOURNEY(S) </th>
</tr>   
    
    <tr>
        <td>{{departure}} - {{arrival}}</td>
        <td>{{count}}</td>
    </tr>

</table>
<br> <br>
<form action="/update_travel/">
<input type="submit" value="Go Back">
</form>
<style>
    header{
        color: crimson;
        background-color: floralwhite;
        font-family: Arial;
    }
    body{
        color: crimson;
        background-color: floralwhite;
        font-family: Arial;
    }
</style>
</html>