<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->

{% extends "layout_for_data.html" %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { background-color: floralwhite; 
        color: green; }
      body{
        animation-name: supa;
        animation-duration: 2s;
        animation-iteration-count: 1;
        font-family: Arial;
        color: crimson;
        background-color: floralwhite;
      }
      table{
        animation-name: supa;
        animation-duration: 2s;
        animation-iteration-count: 1;
        border-radius: 10px;
        border-style: hidden;
      }
      @keyframes supa{
        from {color: floralwhite;}
        to {color: crimson ;}
      }

  </style>
{% endblock %}
{% block content %}
{{ super() }}
      <!-- <H1> Travel Details </H1>       -->
  <body>
	  <table border = 1> 
        <tr> <th> Travel ID</th>
             <th> Departure </th>
             <th> Departure time</th>
             <th> Arrival </th> 
             <th>Arrival time</th> 
            
            </tr>      
	    {% for row in resultset %}
	    <tr> <td> {{row[0]}} </td> 
            <td> {{row[1]}} </td> 
            <td> {{row[2]}} </td> 
            <td> {{row[3]}} </td> 
            <td> {{row[4]}} </td>
          </tr> 
	   {% endfor %}         
	</table>  <br>        
    <form action="/update_travel/">
    <input type="submit" value="Back"> 
    </form>
  </p>
</body>
{% endblock %}


