<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->

<!DOCTYPE html>
<html>
    <header>BOOKINGS PAGE</header>
    <br> <br>
    <body>
        <table border = 1> 
          <tr> <th>BOOKING ID</th>
               <th>DEPARTURE CITY </th>
               <th>DEPARTURE DATE</th>
               <th>ARRIVAL CITY </th> 
               <th>RETURN DATE</th> 
               <th>FLIGHT CLASS</th>
               <th>NO. OF SEATS</th>
               <th>TOTAL FARE</th>
              
              </tr>      
        {%for row in resultset%}
          <tr> <td> {{row[0]}} </td> 
              <td> {{row[1]}} </td> 
              <td> {{row[2]}} </td> 
              <td> {{row[3]}} </td> 
              <td> {{row[4]}} </td>
              <td> {{row[5]}} </td>
              <td> {{row[6]}} </td>
              <td> {{row[7]}} </td>
            </tr> 
        {%endfor%}
        
      </table>  <br>        
      <form action="/v_or_c_bookings">
        <input type="submit" value="GO BACK">
      </form>
    </p>
  </body>

<style>
    header{
        color: crimson;
        background-color:floralwhite;
        font-family: Arial;
    }
    body{
        color: crimson;
        background-color: floralwhite;
        font-family: Arial;
    }
</style>
</html>