<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->

<!DOCTYPE html>
<html>
    <noscript>JavaScript seems to be disabled, please enable it.</noscript>
    <script>
        function checkEmail(email)
        {
            var check_email = email; 
           
            var pattern = /^[A-Za-z-0-9@.]+$/;
            
            var result = pattern.test(check_email);
        
            if (!result)
            {
                return false; 
            }            
            else 
            {
                return true;
            }
        }
        function checkusername(username)
        {
            var check_username = username

            var pattern= /^[A-Za-z ]+$/;

            var result = pattern.test(check_username);

            if (!result)
            {
                return false;
                
            }
            else 
            {
                return true;
            } 
        }
        function validation() {
            var email = document.getElementById("email").value;
            var username = document.getElementById("username").value;

            if (checkEmail(email))
            {
            }

            else
            {
            alert('Enter a valid email!');
            document.getElementById("email").style.border = "1px solid red";
            return false;
            }

            if (checkusername(username))
            {
                return true;
            }

            else
            {
                alert("Username not accepted, please try again");
                document.getElementById("username").style.border= "1px solid red";
                return false;
            }         
        }
        function thanks(){
            alert("Thanks for signing up!")
        }


    </script>
<div class="header"
    style="background-color:floralwhite; color:crimson; font-size: 30px;margin-left: -1px; margin-top: 45px;width: 101.3%; height: 60px;">
    SIGN UP
</div>

<body style="color:crimson; font-family:Arial; " onsubmit="return thanks()"><br><br>
    <p style="color:black;">{{error}}</p>
    <form action="/signup/" method ="POST" onsubmit="return validation()"> 
    Enter Username: <input class="user" type="text" name="username" id ="username" value="{{request.form.username}}"
    required ><br><br>
    Enter E-mail: <input class="email" type="email" name ="email" id ="email" value="{{request.form.email}}"
    required><br> <br>
    Enter password: <input class="password" type="password" name="password" minlength="8" value="{{request.form.password}}"
    required> <br> <br>
    <input type="submit"  style=" cursor:pointer;">
    </form>
    <p class="p" style=" color:black">Or click <a href="/Loginpage">here</a> to log in</p>

<style>
        body {
            background-color: floralwhite;
            animation-name: supa;
            animation-duration: 3s;
            animation-iteration-count: 1;
            position: relative;
            top: -55px;
        }
            
        /* }
        .email{
          background-color: white;
        }
        .user{
            position: relative; 
            top:1px;
        }
        .password{

        }
        body input{ 
            color: black; 
            border: 0; 

            border-radius: 5px;
        } */
        .date{
            cursor:pointer;
        }

        .p{
            animation-name: fupa;
            animation-duration: 3s;
            animation-iteration-count: 1;

        }
        
        div {
        animation-name: supa;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }

        @keyframes supa {
            from {
                color: floralwhite;
            }

            to {
                color: crimson;
            }

        }
        @keyframes fupa {
            from {
                color: floralwhite;
            }

            to {
                color: black;
            }

        }
        /* button{
            cursor:pointer;
            border: none;
        } */
        .header{
            position: relative;
            top:35px;
        }
    </style>

</body>

</html>