<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->

{% extends "layout_for_data.html" %}
{% block title %}Success Page{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { 
      animation-name: supa;
      animation-duration: 3s;
      animation-iteration-count: 1;
      background-color:floralwhite; 
      color: green; }
    body{
        font-family:Arial;
        background-color: floralwhite;
    }
    @keyframes supa{
      from {color: floralwhite;}
      to{color:green}
    }

    @keyframes dupa{
      from{color:floralwhite;}
      to {color: crimson;}
    }
    
  </style>
{% endblock %}
{% block content %}
<body>
  <p class="important">   
      {{message}}        
    <br><br>
      <a href="/departurecity2" method ="POST" style="color:crimson;">Book your flight</a>
  </p>
</body>
{% endblock %}