<!-- #code by Jubril Shittu -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->

{% extends "layout_for_data.html" %}
{% block title %}Success Page{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { 
        background-color: white; 
        color: green; }
    body{
        font-family:Arial;
        background-color: floralwhite;
    }
    
  </style>
{% endblock %}
{% block content %}
<body>
  <p class="important"> 
      Successfully done...  
      {{message}}        
    <br>
      <a href="/add_travel">Go back</a>
  </p>
</body>
{% endblock %}
