<!-- #code by Jubril Shittu -->
<!-- Student ID: 21065704 -->
<!-- year: 2023 -->
<!-- Web developmnent coursework -->

<!DOCTYPE html>
<html>
    <noscript>JavaScript seems to be disabled, please enable it.</noscript>
    <script>
        function cancel(){
           if (confirm("Are you sure you want to cancel your booking?")){
            return true;
           }
           else{
            return false;
           }

        }
    </script>
    <header><strong style="font-size:30px;">BOOKINGS PAGE</strong></header>
    <br> <p style="color:black;">{{message}}</p><br>
    <body>
    <form action="/show_booking" method = 'POST'>
    Enter your Unique booking ID: <input type="text" name ="bookingid" id ="bookingid" required> 
        <input type="submit" value="VIEW BOOKING " style=" cursor: pointer;"> <br><br>
    </form>
    <p>OR IF YOU WISH TO <strong>CANCEL</strong> A BOOKING</p> <br>
    <form action="/drop_booking"onsubmit="return cancel()"method = 'POST'>
    Enter the Unique booking ID : <input type="text" name ="bookingid" id ="bookingid" required>
        <input type="submit" value="DELETE BOOKING" style="cursor: pointer;">
    </form>
<br><br><br>
    <form action="/Onewayticket">
        OR ELSE  <input type="submit" value="GO BACK">
      </form>

    </body>

<style>
    header{
        color: crimson;
        background-color: floralwhite;
        font-family: Arial;
    }
    body{
        color: crimson;
        background-color: floralwhite;
        font-family: Arial;
    }
</style>
</html>